# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases & Caches
stocks.db

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE files
.vscode/
.idea/
.project
.pydevproject

# System files
.DS_Store
Thumbs.db
